body {
    font: normal,georgia,serif;
    font-size: 8px;
    -webkit-font-smoothing:antialiased;
    -webkit-text-size-adjust:100%;
}

header {
    margin: 0 auto;
    font-size: 250%;
    background-color: #ff4363;
    padding-bottom: 0em !important;
}

.section-1 {
    background-image: url("../img/background.png") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 95%;
    color: white;
}

.info-img img {
    width: 100%;
    height: auto;
    margin-bottom: 11.65%;
    transform: rotate(-12.5deg);
}

.white-button {
    text-align: center !important;
}

.red-button button {
    background-color:#ff4363 !important;
    border-color:#ff4363 !important;
}

.info {
    padding-left: 1.5em !important;
    padding-top: 10%;
}

.title {
    font-size: 3.75em;
    line-height: 1em;
    font-weight: bold;
}

.logo {
    padding-left: 11%;
}

.menu {
    padding-right: 11%;
}

.awesome-design, .easy-to-edit, .fully-secured {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    font-size: 100%;
    line-height: 250%;
    width: 30% !important;
    height: 15% !important;
    border-radius: 25%;
}

.awesome-design {
    margin-left: 2%;
}

.easy-to-edit {
    margin-left: 2%;
    margin-right: 2%;
}

.fully-secured {
    margin-right: 2%;
}

.top-text {
    padding-top: 5% !important;
    margin-bottom: 5%;
}

.a-d-icon {
    font-size: 250%;
    padding-top: 10%;
}

.bottom-text {
    margin-right: 13%;
    margin-left: 13%;
}

.section-2 {
    padding-top: 10rem !important;
    padding-bottom: 10rem !important;
}

.perfect-app-img {
    margin-left: 15%;
}

.perfect-app {
    margin-right: 10%;
}

.perfect-app-img img {
    width: 75%;
    height: auto;
}

.section-3 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: 100%;
    margin-bottom: 5%;
}

.perfect-app-img {
    width: 60% !important;
}

.perfect-app {
    width: 40%;
}

.icon-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 45%;
    width: 15%;
    margin-bottom: 5%;
    color: #ff7588;
}

.icons {
    width: 40%;
}

.perfect-app ul {
    list-style: none;
}

.perfect-app ul li::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block;
    width: 1.5em;
    margin-left: -1.5em;
    font-size: 1.25em;
}

.section-4 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: 100%;
    margin-bottom: 5%;
    margin-left: 7rem;
}

.features-img img {
    width: 105%;
    height: auto;
    padding-left: -3rem;
}

.features {
    width: 50% !important;
    padding-right: 9rem;
}

.features ul {
    list-style-type: none;
    padding-left: 0rem !important;
    padding-top: 2rem;
}

.features-img {
    width: 55% !important;
}

.feat-title {
    font-size: 1.5em;
    line-height: 1em;
    font-weight: 600;
}

.features-list i {
    padding-left: 2rem;
    padding-right: 2rem;
}

.features-list li {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.text {
    padding-top: 2rem;
    font-size: 1.25em;
    line-height: 2em;
}

.get-app-img img {
    width: 55% !important;
}

.section-5 {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: 100%;
    margin-bottom: 5%;
    background-image: url("../img/background-small.png") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 95%;
}

.get-app-img {
    width: 95% !important;
    height: auto;
    padding-left: 6rem;
    transform: rotate(9.75deg);
    padding-bottom: 4.85rem;
    margin-left: 2rem;
}

.get-app {
    width: 60% !important;
    padding-right: 23rem;
    padding-top: 12rem;
    color: white;
    margin-left: -21rem;
}

.section-6 {
    margin-top: 10%;
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: 100%;
    margin-bottom: 5%;
    margin-left: 7rem;
}

.questions {
    width: 50% !important;
    padding-right: 6rem;
}

.questions-img {
    width: 55% !important;
}

.questions-img img {
    width: 75%;
    height: auto;
    padding-left: -2rem;
}

.question-icon {
    font-size: 5rem;
    color: #ff7588;
}

.q-title {
    font-size: 1.85rem;
    color: #ff7588;
    font-weight: 600;
}

.q-text {
    margin-top: 3rem;
}

.section-7 {
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.downloads {
    width: 60%;
    display: flex;
    flex-wrap: nowrap;
    background-color:#ff4363;
    justify-content: center;
    border-radius: 1.5rem;
    padding: 5rem;
}

.downloads > div {
    width: 10rem;
    text-align: center;
    color: white;
    margin-left: 3rem;
    margin-right: 3rem;
}

.down-title {
    font-size: 3.25rem;
    font-weight: 600;
}

.lucky-text {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.section-8 {
    padding: 5rem;
}

footer {
    padding: 1.75rem;
    text-align: center;
    justify-content: center;
}

footer > .logo {
    
    font-size: 2rem;

}

.copyright {
    padding-top: 1rem;
}
